@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 画面いっぱいにキャンバスを広げるための全高設定 */
html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
